In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/raw/multimedia.csv')
df.head()

,_id,license,title,format,rightsHolder,identifier,type
0,6763934,http://creativecommons.org/licenses/by/4.0/,NHMUK010361996_Yramea_cytheris_ cytheris_ (Dru...,image/jpeg,"The Trustees of the Natural History Museum, Lo...",https://www.nhm.ac.uk/services/media-store/ass...,StillImage
1,6763934,http://creativecommons.org/licenses/by/4.0/,NHMUK010361996_Yramea_cytheris_ cytheris_ (Dru...,image/jpeg,"The Trustees of the Natural History Museum, Lo...",https://www.nhm.ac.uk/services/media-store/ass...,StillImage
2,8738302,http://creativecommons.org/licenses/by/4.0/,013463487_137028_1083165,image/jpeg,"The Trustees of the Natural History Museum, Lo...",https://www.nhm.ac.uk/services/media-store/ass...,StillImage
3,8792648,http://creativecommons.org/licenses/by/4.0/,NHMUK010897581_E__f_fasciatus_dorsal_and_label...,image/jpeg,"The Trustees of the Natural History Museum, Lo...",https://www.nhm.ac.uk/services/media-store/ass...,StillImage
4,8792648,http://creativecommons.org/licenses/by/4.0/,NHMUK010897581_E__f_fasciatus_ventral_and_labe...,image/jpeg,"The Trustees of the Natural History Museum, Lo...",https://www.nhm.ac.uk/services/media-store/ass...,StillImage

In [3]:
df[['_id', 'identifier']].sample(n=10)

             _id                                         identifier
512708   5704719  http://www.nhm.ac.uk/services/media-store/asse...
887312   7008258  http://www.nhm.ac.uk/services/media-store/asse...
712248   6998354  http://www.nhm.ac.uk/services/media-store/asse...
587367   6964052  http://www.nhm.ac.uk/services/media-store/asse...
927363   6770217  http://www.nhm.ac.uk/services/media-store/asse...
1118075  5632292  http://www.nhm.ac.uk/services/media-store/asse...
898952   6938148  http://www.nhm.ac.uk/services/media-store/asse...
1058143  6798752  http://www.nhm.ac.uk/services/media-store/asse...
833016   6944436  http://www.nhm.ac.uk/services/media-store/asse...
1080057  7018416  http://www.nhm.ac.uk/services/media-store/asse...

In [7]:
urls = df['identifier'].sample(n=1000)

In [ ]:
import requests
import io
from PIL import Image
from tqdm import tqdm

output_size = (512, 512)

for url in tqdm(urls.items()):
    r = requests.get(url[1])
    image_bytes = io.BytesIO(r.content)
    im = Image.open(image_bytes)
    im.thumbnail(output_size)
    im.save('data/download/' +str(url[0]) + '.jpg')

224it [11:11,  7.52s/it]